/* GENERAL ELEMENTS */
body {
    font-family: sans-serif;
    background-color: lightgray;
}

#messageDiv>.success {
    color: whitesmoke;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    margin: 10px;
}

#messageDiv>.failure {
    color: whitesmoke;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    margin: 10px;
}

/* HEADER AND TITLE SECTION */

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#title {
    background-image: linear-gradient(to left, green, grey);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: transparent;
}

#title {
    background: linear-gradient(to right, green, whitesmoke, grey);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: title_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
    padding: 14px 16px;
}

@keyframes title_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li input {
    font-size: large;
    border-style: 1px;
    float: right;
    text-align: center;
    padding: 20px 16px;
    cursor: pointer;
    transition: 100ms linear;
}


li input:hover {
    background-color: green;
    color: whitesmoke;
}

li a {
    font-size: large;
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    transition: 100ms linear;
}

li a:hover {
    background-color: green;
}


/* QUESTIONS IN MAINSCREEN */
div#questions {
    width: 30%;
    height: 100%;
    float: left;
    background-color: lightgrey;
}

div.questionTitle h2 {
    border-radius: 10px;
    padding: 10px;
    transition: 100ms linear;
}

div.questionTitle h2:hover {
    background-color: green;
    color: whitesmoke;
}

div#questionDisplay {
    width: 60%;
    float: right;
    background-color: lightgrey;
    display:block;
}

/* QUESTIONS ANSWERS AND COMMENTS IN QUESTIONDISPLAY*/
.post-info * {
    margin: 10px;
    font-size: small;
    color: green;
}

div.question>div.answers>div.answer {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px;
}

div.question {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 1vw;
    font-size: 18px;
}

div.post-info>p.dateTimeStamp {
    border-bottom: rgb(187, 187, 187) 1px solid;
}


div.comments {
    font-size: 14px;
    color: #333333;
    padding-right: 1vw;
    padding-left: 3vw;
    padding-top: 5px;
}

div.answers {
    font-size: 16px;
    color: #333333;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 5px;
}

#questionDisplay button {
    width: 20%;
    padding: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
}

#questionDisplay textarea {
    width: 80%;
}

div.addCommentDiv>form>input {
    width: 20%;
    padding: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
}

div.addCommentDiv>input[type=submit] {
    width: 20%;
    padding: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
}

div.addAnswerDiv>form>input {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
}

div.addAnswerDiv>input[type=submit] {
    width: 20%;
    padding: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10px;
}



/* ASKING A QUESTION */
.new-question {
    position: absolute;
    margin: auto;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 40%;
    background-color: lightgrey;
}

.new-question>form>input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: large;
    border-radius: 10px;
}

.new-question>textarea {
    width: 80%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: large;
    border-radius: 10px;
}

.new-question>#submit-btn {
    width: 50%;
    padding: 10px;
    font-family: sans-serif;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 100ms linear;
}

.new-question>#submit-btn:hover {
    background-color: green;
    color: whitesmoke;
}

/* LOGIN PAGE */
div.loginCenter {
    position: absolute;
    margin: auto;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 20%;
    background-color: lightgrey;
}

div.loginCenter>form>input {
    font-size: large;
    border-radius: 10px;
    border-style: none;
    display: inline-block;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 100ms linear;
}

div.loginCenter>form>input:hover {
    background-color: green;
    color: whitesmoke;
}

div.loginCenter>form>.loginFields {
    border-radius: 10px;
    width: 77%;
    height: 46px;
    transition: 100ms linear;
}

#login-logout-button {
    display: inline-block;
}

/* NAV BAR */
.desktop-nav-bar {
    display: inline-block;
}

#mobile-nav-bar {
    display: none;
}

#burger-menu {
    display:none;
}



@media screen and (max-width: 640px) {
    #login-logout-button {
        display: none;
    }

    .desktop-nav-bar {
        display: none;
    }

    #burger-menu {
        display: block;
        float: right;
        background-color: #333;
        margin-top: 10px;
        margin-right: 15px;
    }

    #burger-menu > div {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .mobile-nav-bar-links {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #5A5959;
    }

    .new-question{  
        display: block;
        width: 80%;
        padding-left: 10%;
        background-color: lightgrey;
        z-index: -1;
    }

    .new-question > h1 {
        padding-left: 20%;
    }

    .new-question > #submit-btn {
        width: 84%;
    }

    .mobile-nav-bar-links:first-of-type {
        margin-top: 60px;
    }

    div.loginCenter {
        margin: auto;
        display: block;
        width: 80%;
        padding-left: 15%;
        background-color: lightgrey;
        z-index: -1;
    }

    div.loginCenter > h1 {
        padding-left: 30%;
    }

    div.loginCenter > #newAccount {
        padding-left: 20%;
    }

    div.loginCenter > form > input[type=submit] {
        width: 78%;
        height: 40px;
    }

    div#questionDisplay {
        width: 100%;
        float: none;
        height: 100%;
        display: none;
    }

    div#questions {
        width: 100%;
        float: none;
        height: 100%;
    }
}