body {
    background-color: #e0e0e0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
    font-family: sans-serif;
}

#questionList {
    margin-left: 0.1vw;
    width: 40vw;
    height: 100vh;
    display: inline-block;
    background-color: gray;
    padding-left: 0.5vw;
    overflow: auto;
    /*border-right: 5px solid black;*/
}

#questionDisplay {
    width: 59vw;
    height: 100vh;
    display: inline-block;
    flex: right;
    overflow: auto;
    background-color: lightgray;
}

#questionList input[type=text] {
    position: fixed;
    top: 20px;
    margin-left: 4vw;
    width: 30vw;
    border: none;
    font-size: 17px;
}

#questionLinks {
    width: 30vw;
    font-size: 15px;
    margin-top: 80px;
    margin-left: 4vw;
}

#questionLinks a {
    display: block;
    margin-top: 5px;
}

#questionName {
    font: bold;
    font-size: 30px;
    text-align: center;
}

.questionAnswer {
    font-size: 18px;
    background-color: white;
    border: 1px black solid;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vh;
}

.questionAnswer p {
    margin: 1vw;
}

.showComments {
    background-color: darkgray;
    font-size: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10px;
    width: 57vw;
}

.loginCenter {
    display:inline-block;
    width: 20%;
    margin-left: 40%;
}

.loginFields {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 96%;
}

.submit {
    width: 50%;
    margin-top: 30px;
    margin-left: 25%;
}

.newAccount {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
}

.loginCenter > h1 {
    width: 100%;
    text-align: center;
}

#mainscreenBackground {
    background-color: black;
}

.mainscreenLogin {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.titleList {
    margin-top: 10px;
    margin-left: 4vw;
}

#questions {
    margin-top: 70px;
}

.title {
    text-align: center;
}

.question {
    margin-top: 1vw;
    margin-left: 4vw;
    font-size: 18px;
}

.comments {
    font-size: 14px;
    color: #333333;
    margin-right: 1vw;
    margin-left: 3vw;
    margin-top: 5px;
}

.answers {
    font-size: 16px;
    color: #333333;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 5px;
}